# /lib/systemd/system

[Unit]
Description=Runbot container
Requires=docker.service docker-db.service
After=docker-db.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a odoo-runbot
ExecStop=/usr/bin/docker stop -t 2 odoo-runbot

[Install]
WantedBy=local.target